---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

//microcms呼び出し
import { getBlogs } from "../libs/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro Blog</h1>
    <ul>
      {
        response.contents.map((content: any) => (
          <li>
            📝<a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f3f5;
    color: #333;
    line-height: 1.6;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 60px;
  }

  h1 {
    font-size: 2.5em;
    color: #334257;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #6b92c6;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    color: #25603a;
    text-decoration: underline;
  }
</style>
